.brands {
  color: #313437;
  background-color: #fff;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

.highlight-phone.highlight-exp {
  /*border: groove;*/
  margin-bottom: 1%;
  padding: 5px 0px 0px 0px;
  border-radius: 10px;
}

.list-group-item {
  width: 30#;
}

.otherlist {
  /*width: 45%;*/
}

.teams .col-md-3 {
  border: groove;
  margin: 1%;
}

.caption:hover {
  transform: scale(1.05);
  background-color: rgb(251,205,43);
}

.caption {
  border-radius: 6px;
  padding: 10px;
  background-color: rgb(241,255,153);
  margin-bottom: 10px;
}

.border.rounded.divimage {
  width: 209px;
  margin-bottom: 20px;
  height: 140px;
}

.copyright a {
  margin-left: 0px;
  font-size: 12px;
  color: white;
}

.management .card {
  border: hidden;
  margin-bottom: 5px;
  margin-top: 5px;
}

